<div class="main-div">
  <div style="color: white"><h1>Welcome to Sales Prediction App</h1></div>
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="signUpForm">
      <div class="form-group">
        <label>Email</label>
        <input
          [class.is-invalid]="userEmail?.invalid && userEmail?.touched"
          formControlName="email"
          type="text"
          class="form-control"
        />
      </div>
      <div *ngIf="userEmail?.invalid && userEmail?.touched">
        <small *ngIf="userEmail?.errors?.['required']" style="color: red"
          >Email is required</small
        >
        <small *ngIf="userEmail?.errors?.['email']" style="color: red"
          >Enter a valid email</small
        >
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          [class.is-invalid]="userPassword?.invalid && userPassword?.touched"
          formControlName="password"
          type="password"
          class="form-control"
        />
      </div>
      <div
        *ngIf="userPassword?.invalid && userPassword?.touched"
        style="color: red"
      >
        <small *ngIf="userPassword?.errors?.['required']" style="color: red"
          >Password is required</small
        >
        <small *ngIf="userPassword?.errors?.['minlength']" style="color: red"
          >Password must be atleast 8 letters long</small
        >
      </div>
      <div>
        <small *ngIf="!valid && loginClick" style="color: red"
          >This is not Valid credentials</small
        >
        <small *ngIf="alreadyExists" style="color: red"
          >This User Already exists</small
        >
      </div>
      <div class="button-div">
        <button
          [disabled]="userPassword?.errors || userEmail?.errors"
          class="btn btn-primary"
          type="button"
          (click)="checkValidityInputCredentials()"
        >
          <div *ngIf="valid">
            <a
              routerLink="/prediction"
              style="color: white; text-decoration: none"
              >Login</a
            >
          </div>
          <span *ngIf="!valid">Login</span>
        </button>
        <button
          [disabled]="userPassword?.errors || userEmail?.errors"
          class="btn btn-primary"
          type="submit"
          (click)="signUpUser()"
        >
          Signup
        </button>
      </div>
    </form>
  </mat-card>
</div>
